* { 
    box-sizing: border-box;

}


body {
    margin: 0;
}

.parent { 
    background-color: #d3d3d3;
    padding: 50px;
}

.child {
    background-color: #38CFD9;
    height: 250px;
    overflow: hidden;
}